<li id="lecture-<%= lecture.id %>">
  <%= link_to gravatar_for(lecture.user, size: 50), lecture.user %>
  <span class="user"><%= link_to lecture.user.name, lecture.user %></span>
  <span class="content"><%= lecture.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(lecture.created_at) %> ago.
  </span>
</li>
