#Листинг 11.23: Добавление микросообщений на страницу show пользователя. app/views/users/show.html.erb 
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.lectures.any? %>
      <h3>Lectures (<%= @user.lectures.count %>)</h3>
      <ol class="lectures">
        <%= render @lectures %>
      </ol>
      <%= will_paginate @lectures %>
    <% end %>
  </div>
</div>
